Button{
border: none;
border-radius: 8px;
padding: 8px;
margin: 0;
background: white;
color: black;
font-size: 1rem;
}



/* &:hover {
  background: skyblue;
  cursor: pointer;
  transform: translateY(-2px);
}

&[disabled] {
  background: grey;
  cursor: revert;
  transform: revert;
}

&[aria-current] {
  background: deeppink;
  font-weight: bold;
  cursor: revert;
  transform: revert;
}
} */