#header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    background: #252525;
    align-items: center;
    padding: 0 30px;
    justify-content: space-between;
}

#header .leftBox {align-items: center;}

#header .logoBox p {
    color: white;
    font-size: 15px;
    margin-top: 5px;
    font-weight: 700;
    text-align: center;
}

.area-header .navigation-global {
    margin-left: 50px;
}

.area-header .navigation-global ul li {
    display: block;
    margin-right: 15px;
}

.area-header .navigation-global ul li a {
    padding: 0 23px;
    height: 100px;
    line-height: 100px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
}

.area-header .text-date {
    margin-bottom: 10px;
    text-align: right;
    font-size: 15px;
    color: #999;
}

.area-header .box-user-infor {
    font-size: 15px;
    color: #d7d7d7;
}

.area-header .box-user-infor .img-avatar {
    display: inline-block;
    margin: 0 5px 5px 0;
    vertical-align: middle;
}

.area-header .box-user-infor .btn-setting {
    display: inline-block;
    margin: 0 10px 5px 5px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    overflow: hidden;
    text-indent: -1000px;
    background: url(../img/icon_setting.png) no-repeat 50%;
}

.area-aside {
    position: fixed;
    left: 0;
    top: 100px;
    bottom: 0;
    z-index: 1;
    width: 200px;
    min-width: 200px;
    height: 100%;
    background: #3e3e3e;
}

.area-aside >.title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 18px;
    height: 64px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: #004b54;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .4);
}

.area-aside .navigation-local {
    margin: 0 0 30px 0;
    padding: 0 20px;
}

.area-aside .navigation-local ul li a {
    display: block;
    padding: 14px 0;
    color: #fff;
    font-size: 14px;
    border-bottom: 1px solid #4f4f4f;
}

.area-aside .navigation-local a >img {
    display: inline-block;
    margin: -3px 10px 0 0;
}

.mainWrap {position: relative;
    margin: 100px 0 0 200px;
    padding: 64px 50px 0;
    width: calc(100% - 200px);
    min-width: 1240px;
    overflow: auto;
    min-height: calc(100vh - 200px);
}